@using DeltaQrCode.ModelsDto
@using Microsoft.AspNetCore.Razor.TagHelpers
@model DeltaQrCode.ViewModels.Appointments.ConfirmVM





<div class="modal-header">

    <h3 id="myConfirmApptModalLabel"> Mesaj de confirmare  </h3>

</div>

<div class="modal-body">
    <input type="hidden" data-value="@Model.Confirm" id="confirmBool" />
    <h5>@(!Model.Confirm? "Esti sigur ca doresti sa anulezi confirmarea?" : "Esti sigur ca doresti sa confirmi aceasta programare?")</h5>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-outline-success " data-dismiss="modal">Cancel</button>
    <a class="btn btn-outline-primary btn-ok" id="actionConfirm" data-value="@Model.Id">@(!Model.Confirm?"Anuleaza confirmarea" : "Confirm")</a>
</div>


<script type="text/javascript">

    $("#actionConfirm").click(function () {

        var model = { id: $("#actionConfirm").attr("data-value"), confirm: $("#confirmBool").attr("data-value") };

        $.ajax({
            type: "POST",
            url: "@Url.Action("ConfirmAppt", "Appointments")",
            data: model,
            dataType:"json",
            success: function (response) {
                CloseModalById('myApptConfirmModal');
                ShowHeaderAlert(response, "success", 5000);
                clearAppointments();
                getAppointmentsForSelectedDate();
            },
            error: function (error) {
                CloseModalById('myApptConfirmModal');
                ShowHeaderAlert(error.responseJSON.Message, "error",5000);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ErrorModal","Error")",
                    dataType: "json",
                    traditional: true,
                    contentType: 'application/json',
                    success: function (response) {
                        $("#GetModalCode").html(response);
                        $("#ErrorModal").modal('show');
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
        });
    });

</script>
