@using DeltaQrCode.ModelsDto
@using Microsoft.AspNetCore.Razor.TagHelpers
@model DeltaQrCode.ViewModels.SchimbAnvelope.StepOneVM

<div class="form-card">

    <div class="row">

        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <select id="Ramp" class="col-4" asp-for="RampId"></select>
        </div>
        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <div class="next btn btn-outline-danger float-left col-8 col-sm-6 col-md-6 col-lg-4 col-xl-4">Fara Programare</div>
        </div>

        <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4">
            <div class="border rounded border-dark col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 float-right">
                <p class="text-center" style="margin:0px;">Ora:</p>
                <p style="margin:0px;" class="text-center">@DateTime.Now</p>
            </div>
        </div>

    </div>

    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th scope="col">Ora</th>
                    <th scope="col">Nr. Auto</th>
                    <th scope="col">Serviciu</th>
                    <th scope="col">Client</th>
                    <th scope="col">DA</th>
                    <th scope="col">NU</th>
                </tr>
            </thead>

            <tbody class="text-center">
                @foreach (var item in Model.Appointments)
                {
                    <tr class="text-center">
                        <td>@item.OraInceput</td>
                        <td>@item.NumarInmatriculare</td>
                        <td>@item.Serviciu</td>
                        <td>@item.NumeClient</td>
                        <td><div class="next btn btn-success btn-lg">APASA</div></td>
                        <td><div class="noArrival btn btn-danger btn-lg">APASA</div></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<input type="button" name="next" class="next action-button" value="Inainte" />
