@using DeltaQrCode.ModelsDto
@using Microsoft.AspNetCore.Razor.TagHelpers
@model DeltaQrCode.ViewModels.HotelAnvelope.AddEditSetAnvelopeVM

<style>
    .modal-min-height {
        min-height: 450px;
    }

    .required-field::before {
        content: "*";
    }

    .margin150left {
        margin-left: 150px;
    }
</style>


@*<input id="defaultPosition" hidden="hidden" data-value="@Model.PozitieInRaft" />
    <input id="defaultDiametru" hidden="hidden" data-value="@Model.Diametru" />
    <input id="defaultLatime" hidden="hidden" data-value="@Model.Latime" />
    <input id="defaultInaltime" hidden="hidden" data-value="@Model.Inaltime" />
    <input id="defaultDot" hidden="hidden" data-value="@Model.Dot" />
    <input id="defaultMarca" hidden="hidden" data-value="@Model.Marca" />
    <input id="defaultFlota" hidden="hidden" data-value="@Model.Client.NumeClient" />
    <input id="defaultTipSezon" hidden="hidden" data-value="@Model.TipSezon" />
    <input id="defaultStatusAnv" hidden="hidden" data-value="@Model.StatusCurent" />*@


<div class="modal-header">

    <h3 id="myModalLabel">Add Set</h3>

    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">×</button>
</div>


<div>
    <div class="modal-body modal-min-height ui-front" id="hotelModalBody">
        <form id="apptform">

            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="col">
                    <h4> Detalii client :</h4>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Client.NumeClient, "NumeClient/Flota", htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Client.NumeClient, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Client.NumeClient, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Client.NumarTelefon, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Client.NumarTelefon, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Client.NumarTelefon, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Client.Sofer, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Client.Sofer, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Client.Sofer, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                </div>
                <br />
                <div class="col">
                    <h4> Detalii masina :</h4>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Masina.NumarInmatriculare, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Masina.NumarInmatriculare, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Masina.NumarInmatriculare, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Masina.SerieSasiu, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Masina.SerieSasiu, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Masina.SerieSasiu, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Masina.TipVehicul, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Masina.TipVehicul, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.Masina.TipVehicul, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>
                </div>
            </div>


            <hr class="bg-dark" />


            <div class="text-center form-group">
                @Html.LabelFor(model => model.SetAnvelope.NumeSet, htmlAttributes: new { @class = "control-label col-md-3" })

                @Html.EditorFor(model => model.SetAnvelope.NumeSet, new { htmlAttributes = new { @class = "form-control col-md-3 validate", @style = "margin:auto;" } })
                @Html.ValidationMessageFor(model => model.SetAnvelope.NumeSet, "", new { @class = "text-danger error_span" })

            </div>
            <br />

            <hr class="bg-dark" />
            @{
                int i = 0;
            }
            @foreach (var item in Model.Anvelope)
            {
                <div class="form-row parent">
                    <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center ">
                        <div>@item.PozitiePeMasina</div>
                        <div class="erase-data-anv"><i style="cursor:pointer;" class="far fa-times-circle"></i></div>
                    </div>
                    <input type="hidden" class="pozitiepemasina" asp-for="@item.PozitiePeMasina" id="@("Label_"+item.PozitiePeMasina + "_" +"PozitiePeMasina")" name="@("Anvelope[" + i + "].PozitiePeMasina")" value="@item.PozitiePeMasina" />

                    <div class="form-group col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 margin-xs-uzura">
                        <label asp-for="@item.Uzura" id="@("Label_"+item.PozitiePeMasina + "_" +"Uzura")" class="control-label text-center required-field margin-md-uzura"></label>
                        <input asp-for="@item.Uzura" id="@(item.PozitiePeMasina + "_" +"Uzura")" name="@("Anvelope[" + i + "].Uzura")" class=" col-12 col-sm-9 col-md-7 text-center col-lg-9 col-xl-6 form-control half-margin-bottom margin-md-uzura uzura inputOrSelect" type="text" />
                        <span asp-validation-for="@item.Uzura" class="text-danger error_span"></span>
                    </div>
                    <div class="form-group  col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 hiddenAnv margin-xs">
                        <label asp-for="@item.Diametru" id="@("Label_"+item.PozitiePeMasina + "_" +"Diametru")" class="control-label required-field"></label>
                        <input class="default" hidden="hidden" data-value="@item.Diametru" data-text="@("R"+item.Diametru)" />
                        <select class="form-control diametru select2custom inputOrSelect" asp-for="@item.Diametru" id="@(item.PozitiePeMasina + "_" +"Diametru")" name="@("Anvelope[" + i + "].Diametru")" data-placeholder="@item.Diametru" value="@item.Diametru"></select>
                        <span asp-validation-for="@item.Diametru" class="text-danger error_span"></span>
                    </div>
                    <div class="form-group col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 hiddenAnv margin-xs">
                        @*@Html.LabelFor(model => model.@item.Latime, htmlAttributes: new { @class = "control-label  required-field" })*@
                        <label asp-for="@item.Latime" id="@("Label_"+item.PozitiePeMasina + "_" +"Latime")" class="control-label required-field"></label>
                        <input class="default" hidden="hidden" data-value="@item.Latime" data-text="@(item.Latime)" />
                        <select class="form-control latime select2custom inputOrSelect" asp-for="@item.Latime" id="@(item.PozitiePeMasina + "_" +"Latime")" name="@("Anvelope[" + i + "].Latime")" data-placeholder="@item.Latime" value="@item.Latime"></select>
                        @*@Html.ValidationMessageFor(model => model.@item.Latime, "", new { @class = "text-danger error_span" })*@
                        <span asp-validation-for="@item.Latime" class="text-danger error_span"></span>
                    </div>
                    <div class="form-group col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 hiddenAnv">
                        <label asp-for="@item.Inaltime" id="@("Label_"+item.PozitiePeMasina + "_" +"Inaltime")" class="control-label required-field"></label>
                        @*@Html.LabelFor(model => model.@item.Inaltime, htmlAttributes: new { @class = "control-label   required-field" })*@
                        <input class="default" hidden="hidden" data-value="@item.Inaltime" data-text="@(item.Inaltime)" />
                        <select class="form-control inaltime select2custom inputOrSelect" asp-for="@item.Inaltime" id="@(item.PozitiePeMasina + "_" +"Inaltime")" name="@("Anvelope[" + i + "].Inaltime")" data-placeholder="@item.Inaltime" value="@item.Inaltime"></select>
                        @*@Html.ValidationMessageFor(model => model.@item.Inaltime, "", new { @class = "text-danger error_span" })*@
                        <span asp-validation-for="@item.Inaltime" class="text-danger error_span"></span>
                    </div>

                    <div class="form-group col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 hiddenAnv">
                        @*@Html.LabelFor(model => model.@item.Dot, htmlAttributes: new { @class = "control-label required-field " })*@
                        <label asp-for="@item.Dot" id="@("Label_"+item.PozitiePeMasina + "_" +"Dot")" class="control-label required-field"></label>
                        <input class="default" hidden="hidden" data-value="@item.Dot" data-text="@(item.Dot)" />
                        <select class="form-control dot select2custom inputOrSelect" asp-for="@item.Dot" id="@(item.PozitiePeMasina + "_" +"Dot")" name="@("Anvelope[" + i + "].Dot")" data-placeholder="@item.Dot" value="@item.Dot"></select>
                        <span asp-validation-for="@item.Dot" class="text-danger error_span"></span>
                        @*@Html.ValidationMessageFor(model => model.@item.Dot, "", new { @class = "text-danger error_span" })*@
                    </div>

                    <div class=" hidediv-md  col-lg-1 col-md-1 col-sm-1 col-1 col-xl-2"></div>
                    <div class="hidediv-md col-lg-1 col-md-1 col-sm-1 col-1 col-xl-2"></div>

                    <div class="form-group col-6 col-sm-3 col-md-3 col-lg-3 col-xl-2 hiddenAnv">
                        @*@Html.LabelFor(model => model.@item.Marca, htmlAttributes: new { @class = "control-label col-md-3 " })*@
                        <label asp-for="@item.Marca" id="@("Label_"+item.PozitiePeMasina + "_" +"Marca")" class="control-label required-field col-md-3"></label>
                        <input class="default" hidden="hidden" data-value="@item.MarcaId" data-text="@(item.Marca)" />
                        <select class="form-control marca select2custom inputOrSelect" asp-for="@item.Marca" id="@(item.PozitiePeMasina + "_" +"Marca")" name="@("Anvelope[" + i + "].Marca")"></select>
                        <span asp-validation-for="@item.Marca" class="text-danger error_span"></span>
                        @* @Html.ValidationMessageFor(model => model.@item.Marca, "", new { @class = "text-danger error_span" })*@
                    </div>
                    <div class="form-group col-5 col-sm-3 col-md-3 col-lg-2 col-xl-2 hiddenAnv">
                        @*@Html.LabelFor(model => model.@item.TipSezon, htmlAttributes: new { @class = "control-label col-md-3 " })*@
                        <label asp-for="@item.TipSezon" id="@("Label_"+item.PozitiePeMasina + "_" +"TipSezon")" class="control-label required-field col-md-3"></label>
                        <input class="default" hidden="hidden" data-value="@item.TipSezon" data-text="@(item.TipSezon)" />
                        <select class="form-control tipsezon select2custom inputOrSelect" asp-for="@item.TipSezon" id="@(item.PozitiePeMasina + "_" +"TipSezon")" name="@("Anvelope[" + i + "].TipSezon")"></select>
                        @*@Html.ValidationMessageFor(model => model.@item.TipSezon, "", new { @class = "text-danger error_span" })*@
                        <span asp-validation-for="@item.TipSezon" class="text-danger error_span"></span>


                    </div>


                        <div class="form-group col-5 col-sm-3 col-md-3 col-lg-2 col-xl-2 hiddenAnv">
                            <label asp-for="@item.StatusCurent" id="@("Label_" + item.PozitiePeMasina + "_" +"StatusCurent" )" class="control-label required-field col-md-3"></label>
                            @*@Html.LabelFor(model => model.@item.StatusCurent, htmlAttributes: new { @class = "control-label col-md-3 " })*@
                            <input class="default" hidden="hidden" data-value="@item.StatusCurent" data-text="@(item.StatusCurent)" />
                            <input class="selectedstatus" hidden="hidden" value="@item.StatusCurent" />
                            <select class="form-control statuscurent select2custom inputOrSelect" asp-for="@item.StatusCurent" id="@(item.PozitiePeMasina + "_" +"StatusCurent")" name="@("Anvelope[" + i + "].StatusCurent")"></select>
                            @*@Html.ValidationMessageFor(model => model.@item.StatusCurent, "", new { @class = "text-danger error_span" })*@
                            <span asp-validation-for="@item.StatusCurent" class="text-danger error_span"></span>

                        </div>
                    <div class="form-group col-8 col-sm-3 col-md-3 col-lg-3 col-xl-2 hiddenAnv">
                        <label asp-for="@item.PozitieInRaft" id="@("Label_"+item.PozitiePeMasina + "_" +"PozitieInRaft")" class="control-label required-field col-md-3"></label>
                        @*@Html.LabelFor(model => model.@item.PozitieInRaft, htmlAttributes: new { @class = "control-label col-md-3 " })*@
                        <input class="default" hidden="hidden" data-value="@item.PozitieId" data-text="@(item.PozitieInRaft)" />
                        <select class="form-control pozitieinraft select2custom inputOrSelect" asp-for="@item.PozitieId" id="@(item.PozitiePeMasina + "_" +"PozitieInRaft")" name="@("Anvelope[" + i + "].PozitieId")"></select>
                        @*@Html.ValidationMessageFor(model => model.@item.PozitieId, "", new { @class = "text-danger error_span" })*@
                        <span asp-validation-for="@item.PozitieId" class="text-danger error_span"></span>
                    </div>
                </div>

                <hr />

                i++;
            }

        </form>
    </div>

    <div>
        <p id="serverErrorMsg" style="color:red; padding: 5px;"></p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-default" data-dismiss="modal">Inchide</button>
        <a class="btn btn-outline-success btn-ok" id="apptsAddSubmitButton">Adauga</a>
    </div>

</div>

<script type="text/javascript" src="~/js/select2AddEdit.js"></script>
