@using DeltaQrCode.ModelsDto
@using Microsoft.AspNetCore.Razor.TagHelpers
@model DeltaQrCode.ViewModels.HotelAnvelope.AddEditSetAnvelopeVM

<style>
    .modal-min-height {
        min-height: 450px;
    }

    .required-field::before {
        content: "*";
    }

    .margin150left {
        margin-left: 150px;
    }
</style>


<input id="defaultPosition" hidden="hidden" data-value="@Model.PozitieInRaft" />
<input id="defaultDiametru" hidden="hidden" data-value="@Model.Diametru" />
<input id="defaultLatime" hidden="hidden" data-value="@Model.Latime" />
<input id="defaultInaltime" hidden="hidden" data-value="@Model.Inaltime" />
<input id="defaultMarca" hidden="hidden" data-value="@Model.Marca" />
<input id="defaultFlota" hidden="hidden" data-value="@Model.Flota" />
<input id="defaultTipSezon" hidden="hidden" data-value="@Model.TipSezon" />
<input id="defaultStatusAnv" hidden="hidden" data-value="@Model.StatusCurent" />


<div class="modal-header">

    <h3 id="myModalLabel">Add Set</h3>

    <button type="button" class="close float-right" data-dismiss="modal" aria-hidden="true">×</button>
</div>


<div>
    <div class="modal-body modal-min-height ui-front" id="hotelModalBody">
        <form id="apptform">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control half-margin-bottom", @hidden = "hidden" } })
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="col">

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.NumeClient, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.NumeClient, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.NumeClient, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>


                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.NumarInmatriculare, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.NumarInmatriculare, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.NumarInmatriculare, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.SerieSasiu, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SerieSasiu, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.SerieSasiu, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.NumarTelefon, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.NumarTelefon, new { htmlAttributes = new { @class = "form-control half-margin-bottom validate" } })
                            @Html.ValidationMessageFor(model => model.NumarTelefon, "", new { @class = "text-danger error_span" })
                        </div>
                    </div>

                </div>
                <br />
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 style="margin-left: 50px;">Uzura: </h6>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StangaFata, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.StangaFata, new { htmlAttributes = new { @class = "form-control col-md-6 half-margin-bottom uzura", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StangaFata, "", new { @class = "text-danger error_span" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StangaSpate, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.StangaSpate, new { htmlAttributes = new { @class = "form-control col-md-6 half-margin-bottom uzura", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StangaSpate, "", new { @class = "text-danger error_span" })
                                </div>
                            </div>

                        </div>
                        <div class="col" style="margin-top:27px;">

                            <div class="form-group">
                                @Html.LabelFor(model => model.DreaptaFata, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.DreaptaFata, new { htmlAttributes = new { @class = "form-control col-md-6 half-margin-bottom uzura", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.DreaptaFata, "", new { @class = "text-danger error_span" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DreaptaSpate, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.DreaptaSpate, new { htmlAttributes = new { @class = "form-control col-md-6 half-margin-bottom uzura", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.DreaptaSpate, "", new { @class = "text-danger error_span" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-6 col-sm-4">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                    <div class="col-md-9">
                        <select id="Marca" class="form-control" asp-for="Marca" data-placeholder="@Model.Marca" value="@Model.Marca"></select>
                        @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger error_span" })
                    </div>
                </div>

                <div class="form-group col-md-6 col-sm-4">
                    @Html.LabelFor(model => model.Flota, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                    <div class="col-md-9">
                        <select id="Flota" class="form-control" asp-for="Flota" data-placeholder="@Model.Flota" value="@Model.Flota"></select>
                        @Html.ValidationMessageFor(model => model.Flota, "", new { @class = "text-danger error_span" })
                    </div>
                </div>

                <div class="form-group col-md-4 col-sm-4">
                    @Html.LabelFor(model => model.NrBucati, htmlAttributes: new { @class = "control-label col-md-3 required-field" })
                    <div class="col-md-9 ">
                        @Html.EditorFor(model => model.NrBucati, new { htmlAttributes = new { @class = "form-control half-margin-bottom", @type = "text", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NrBucati, "", new { @class = "text-danger error_span" })
                    </div>
                </div>

            </div>
            <div class="form-row">
                <h6 style="margin-left: 50px;">Dimensiuni: </h6>
            </div>
            <div class="form-row">

                <div class="form-group col-md-4 col-sm-4">
                    @Html.LabelFor(model => model.Diametru, htmlAttributes: new { @class = "control-label col-md-4 required-field" })
                    <select class="form-control" id="Diametru" asp-for="Diametru" data-placeholder="@Model.Diametru" value="@Model.Diametru"></select>
                    @Html.ValidationMessageFor(model => model.Diametru, "", new { @class = "text-danger error_span" })

                </div>


                <div class="form-group col-md-4 col-sm-4">
                    @Html.LabelFor(model => model.Latime, htmlAttributes: new { @class = "control-label col-md-4 required-field" })
                    <select class="form-control" id="Latime" asp-for="Latime" data-placeholder="@Model.Latime" value="@Model.Latime"></select>
                    @Html.ValidationMessageFor(model => model.Latime, "", new { @class = "text-danger error_span" })
                </div>


                <div class="form-group col-md-4 col-sm-4">
                    @Html.LabelFor(model => model.Inaltime, htmlAttributes: new { @class = "control-label col-md-4 required-field" })
                    <select class="form-control" id="Inaltime" asp-for="Inaltime" data-placeholder="@Model.Inaltime" value="@Model.Inaltime"></select>
                    @Html.ValidationMessageFor(model => model.Inaltime, "", new { @class = "text-danger error_span" })
                </div>
            </div>

            <div class="form-row" style="margin-top: 30px;">

                <div class="form-group col-md-3 col-sm-3">
                    @Html.LabelFor(model => model.TipSezon, htmlAttributes: new { @class = "control-label col-md-3 " })
                    <div class="col-md-9">
                        <select class="form-control" id="tipSezon" asp-for="TipSezon"></select>

                        @Html.ValidationMessageFor(model => model.TipSezon, "", new { @class = "text-danger error_span" })
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-3">
                    @Html.LabelFor(model => model.StatusCurent, htmlAttributes: new { @class = "control-label col-md-3 " })
                    <div class="col-md-9">
                        <select class="form-control" id="statusAnv" asp-for="StatusCurent" data-placeholder="@Model.StatusCurent" value="@Model.StatusCurent"></select>

                        @Html.ValidationMessageFor(model => model.StatusCurent, "", new { @class = "text-danger error_span" })
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-3">
                    @Html.LabelFor(model => model.PozitieInRaft, htmlAttributes: new { @class = "control-label col-md-3 " })
                    <div class="col-md-9">
                        <select id="selPoz" class="form-control" asp-for="PozitieInRaft" data-placeholder="@Model.PozitieInRaft" value="@Model.PozitieInRaft"></select>
                        @Html.ValidationMessageFor(model => model.PozitieInRaft, "", new { @class = "text-danger error_span" })
                    </div>
                </div>
            </div>

            <div class="form-row col-md-12 col-sm-12">
                @Html.LabelFor(model => model.Observatii, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Observatii, new { htmlAttributes = new { @class = "form-control half-margin-bottom" } })
                    @Html.ValidationMessageFor(model => model.Observatii, "", new { @class = "text-danger error_span" })
                </div>
            </div>

        </form>
    </div>

    <div>
        <p id="serverErrorMsg" style="color:red; padding: 5px;"></p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-default" data-dismiss="modal">Inchide</button>
        <a class="btn btn-outline-success btn-ok" id="apptsAddSubmitButton">Adauga</a>
    </div>

</div>

<script src="~/js/editAddSetAnvPartial.js"></script>
<script type="text/javascript">

</script>
