@using DeltaQrCode.HelpersAndExtensions
@using System.Security.Claims
@model DeltaQrCode.ViewModels.HotelListViewModel


<div class="row justify-content-center">
    <div class="col-auto">
        <table class=" table table table-responsive table-sm table-responsive-md table-responsive-sm table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th style="" scope="col">Actiune</th>
                    <th scope="col">Uzura</th>
                    <th scope="col">Diametru</th>
                    <th scope="col">Latime</th>
                    <th scope="col">Inaltime</th>
                    <th scope="col">DOT</th>
                    <th scope="col">Marca</th>
                    <th scope="col">TipSezon</th>
                    <th scope="col">Status Curent</th>
                    <th scope="col">Pozitie</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.anvList)
                {
                    <tr class="text-center">
                        <td class="flex-row">
                            <div class="col-md-12">
                                <div class="btn btn-outline-info btn-sm " type="button" data-value="@item.Id" data-actionType="info"><i class="fas fa-info-circle "></i></div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn btn-outline-warning btn-sm " type="button" data-value="@item.Id" data-actionType="edit"><i class="fas fa-pencil-alt"></i></div>
                            </div>
                            @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "admin")
                            {
                                <div class="col-md-12">
                                    <div class="btn btn-outline-danger btn-sm " type="button" data-value="@item.Id"><i class="fas fa-trash-alt"></i></div>
                                </div>
                            }
                        </td>
                        <td>@item.Uzura</td>
                        <td>@item.Diametru</td>
                        <td>@item.Latime</td>
                        <td>@item.Inaltime</td>
                        <td>@item.Dot</td>
                        <td>@item.Marca</td>
                        <td>@item.TipSezon</td>
                        <td>@item.StatusCurent</td>
                        <td>@item.PozitieInRaft</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div hidden="hidden" class="hasPrevEdit" data-value="@Model.anvList.HasPreviousPage.ToString().ToLower()"></div>
<div hidden="hidden" class="hasNextEdit" data-value="@Model.anvList.HasNextPage.ToString().ToLower()"></div>


<div class="text-center">
    <button data-pageNumber="@(Model.anvList.PageIndex - 1)"
            class=" customPagination buttonPrevEdit btn btn-default">
        Previous
    </button>
    <button data-pageNumber="@(Model.anvList.PageIndex + 1)"
            class=" customPagination buttonNextEdit btn btn-default">
        Next
    </button>
</div>