@using DeltaQrCode.HelpersAndExtensions
@using System.Security.Claims
@model DeltaQrCode.ViewModels.HotelListViewModel


<div class="row justify-content-center">
    <div class="col-auto">
        <table class=" editabletable table table-responsive table-sm table-responsive-md table-responsive-sm table-bordered table-hover">
            <thead>
                <tr class=" text-center">
                    <th  scope="col">Diametru</th>
                    <th  scope="col">Latime</th>
                    <th  scope="col">Inaltime</th>
                    <th  scope="col">DOT</th>
                    <th  scope="col">Marca</th>
                    <th  scope="col">TipSezon</th>
                    <th  scope="col">PozitiePeMasina</th>
                    <th  scope="col">Uzura</th>
                    <th  style="min-width:100px;" scope="col">Status Curent</th>
                    <th  style="min-width:150px;" scope="col">Pozitie</th>
                </tr>
            </thead>

            <tbody class="editTableSetBody">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.anvList)
                {
                    <tr class="text-center parenting">
                        <th hidden="hidden">@item.Id</th>
                        <th >@item.Diametru</th>
                        <th >@item.Latime</th>
                        <th >@item.Inaltime</th>
                        <th >@item.Dot</th>
                        <th >@item.Marca</th>
                        <th >@item.TipSezon</th>
                        <th >@item.PozitiePeMasina</th>
                        <th >@item.Uzura</th>

                        <th >
                            <input class="default" hidden="hidden" data-value="@item.StatusCurent" data-text="@(item.StatusCurent)" />
                            <select style="min-width:100px;" class="select2customTable statuscurentTable inputOrSelect" asp-for="@item.StatusCurent" id="@(item.Id + "_" +"StatusCurent")" name="@("anvList[" + i + "].StatusCurent")"></select>

                        </th>


                        <th >
                            <input class="default" hidden="hidden" data-value="@item.PozitieId" data-text="@(item.PozitieInRaft)" />
                            <select style="min-width:150px;" class="select2customTable pozitieinraftTable inputOrSelect" asp-for="@item.PozitieId" id="@(item.Id + "_" +"PozitieId")" name="@("anvList[" + i + "].PozitieId")"></select>
                        </th>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>
<div hidden="hidden" class="hasPrevEdit" data-value="@Model.anvList.HasPreviousPage.ToString().ToLower()"></div>
<div hidden="hidden" class="hasNextEdit" data-value="@Model.anvList.HasNextPage.ToString().ToLower()"></div>


<div class="text-center">
    <button data-pageNumber="@(Model.anvList.PageIndex - 1)"
            class=" customPagination buttonPrevEdit btn btn-default">
        Previous
    </button>
    <button data-pageNumber="@(Model.anvList.PageIndex + 1)"
            class=" customPagination buttonNextEdit btn btn-default">
        Next
    </button>
</div>

@section Scripts{
    <script type="text/javascript"> 
    </script>
}
