@using DeltaQrCode.HelpersAndExtensions
@using System.Security.Claims
@model DeltaQrCode.ViewModels.HotelListViewModel


<div class="row justify-content-center">
    <div class="col-auto">
        <div class=" editabletable table table-responsive table-sm table-responsive-md table-responsive-sm table-bordered table-hover">
            <div>
                <div class=" row text-center">
                    <div class="col" scope="col">Diametru</div>
                    <div class="col" scope="col">Latime</div>
                    <div class="col" scope="col">Inaltime</div>
                    <div class="col" scope="col">DOT</div>
                    <div class="col" scope="col">Marca</div>
                    <div class="col" scope="col">TipSezon</div>
                    <div class="col" scope="col">PozitiePeMasina</div>
                    <div class="col" scope="col">Uzura</div>
                    <div class="col" scope="col">Status Curent</div>
                    <div class="col" scope="col">Pozitie</div>
                </div>
            </div>

            <div class="editTableSetBody">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.anvList)
                {
                    <div class="text-center row">
                        <div hidden="hidden">@item.Id</div>
                        <div class="col">@item.Diametru</div>
                        <div class="col">@item.Latime</div>
                        <div class="col">@item.Inaltime</div>
                        <div class="col">@item.Dot</div>
                        <div class="col">@item.Marca</div>
                        <div class="col">@item.TipSezon</div>
                        <div class="col">@item.PozitiePeMasina</div>
                        <div class="col">@item.Uzura</div>

                        <div class="col">
                            <input class="default" hidden="hidden" data-value="@item.StatusCurent" data-text="@(item.StatusCurent)" />
                            <select class="select2customTable statuscurentTable inputOrSelect" asp-for="@item.StatusCurent" id="@(item.Id + "_" +"StatusCurent")" name="@("anvList[" + i + "].StatusCurent")"></select>

                        </div>


                        <div class="col">
                            <input class="default" hidden="hidden" data-value="@item.PozitieId" data-text="@(item.PozitieInRaft)" />
                            <select class="select2customTable pozitieinraftTable inputOrSelect" asp-for="@item.PozitieId"></select>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>
<div hidden="hidden" class="hasPrevEdit" data-value="@Model.anvList.HasPreviousPage.ToString().ToLower()"></div>
<div hidden="hidden" class="hasNextEdit" data-value="@Model.anvList.HasNextPage.ToString().ToLower()"></div>


<div class="text-center">
    <button data-pageNumber="@(Model.anvList.PageIndex - 1)"
            class=" customPagination buttonPrevEdit btn btn-default">
        Previous
    </button>
    <button data-pageNumber="@(Model.anvList.PageIndex + 1)"
            class=" customPagination buttonNextEdit btn btn-default">
        Next
    </button>
</div>

@section Scripts{
    <script type="text/javascript"> 
    </script>
}
