
@using DeltaQrCode.HelpersAndExtensions
@model DeltaQrCode.ViewModels.HotelListViewModel

<table class="table table-bordered table-responsive-sm table-responsive-md table-responsive" style="width:100%;border:1px solid black;">
    <thead>
        <tr>
            <th scope="col">Actiune</th>
            <th scope="col">Nr. Auto</th>
            <th scope="col">Client</th>
            <th scope="col">Marca</th>
            <th scope="col">Nr.Buc</th>
            <th scope="col">Dimensiuni</th>
            <th scope="col">Uzura</th>
            <th scope="col">Tip</th>
            <th scope="col">Evaluare</th>
            @*<th scope="col">Rand</th>*@
            <th scope="col">Poz</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    <div class="btn btn-outline-info actionButton" data-value="@item.Id" data-actionType="info"><i class="fas fa-info-circle"></i></div>
                    <div class="btn btn-outline-warning actionButton" data-value="@item.Id" data-actionType="edit"><i class="far fa-edit"></i></div>
                    <div class="btn btn-outline-danger deleteButton" data-value="@item.Id"><i class="fas fa-trash-alt"></i></div>
                </td>
                <td>@item.NumarInmatriculare</td>
                <td>@item.NumeClient</td>
                <td>@item.Marca</td>
                <td>@item.NrBucati</td>
                <td>@item.Dimensiuni.ToCustomString()</td>
                <td>@item.Uzura.ToCustomString()</td>
                <td>@item.TipSezon</td>
                <td>@item.Evaluare</td>
                @*<td class="col">@item.Rand</td>*@
                <td>@item.Position?.PositionString</td>
            </tr>
        }
    </tbody>
</table>
<input id="currentPage" type="hidden" value="@Model.CurrentPage" hidden />
<div class="justify-content-center text-center">
    <ul class="pagination text-center justify-content-center ">
        @for (int i = 0; i < Model.TotalPages; i++)
        {
            <li class="button page-item CustomPagination @(Model.CurrentPage == @i + 1 ? " active " : string.Empty )" data-value="@(i + 1)"><div class="page-link">@(i + 1)</div></li>
        }
    </ul>
</div>
