@using DeltaQrCode.HelpersAndExtensions
@using System.Security.Claims
@model DeltaQrCode.ViewModels.HotelListViewModel


<div class="row justify-content-center">
    <div class="col-auto">
        <table class=" table table table-responsive table-sm table-responsive-md table-responsive-sm table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th style="" scope="col">Actiune</th>
                    <th scope="col">Uzura</th>
                    <th scope="col">Diametru</th>
                    <th scope="col">Latime</th>
                    <th scope="col">Inaltime</th>
                    <th scope="col">DOT</th>
                    <th scope="col">Marca</th>
                    <th scope="col">TipSezon</th>
                    <th scope="col">Status Curent</th>
                    <th scope="col">Pozitie</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.anvList)
                {
                    <tr class="text-center">
                        <td class="flex-row">
                            <div class="col-md-12">
                                <div class="btn btn-outline-info btn-sm " type="button" data-value="@item.Id" data-actionType="info"><i class="fas fa-info-circle "></i></div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn btn-outline-warning btn-sm " type="button" data-value="@item.Id" data-actionType="edit"><i class="fas fa-pencil-alt"></i></div>
                            </div>
                            @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "admin")
                            {
                                <div class="col-md-12">
                                    <div class="btn btn-outline-danger btn-sm " type="button" data-value="@item.Id"><i class="fas fa-trash-alt"></i></div>
                                </div>
                            }
                        </td>
                        <td>@item.Uzura</td>
                        <td>@item.Diametru</td>
                        <td>@item.Latime</td>
                        <td>@item.Inaltime</td>
                        <td>@item.Dot</td>
                        <td>@item.Marca</td>
                        <td>@item.TipSezon</td>
                        <td>@item.StatusCurent</td>
                        <td>@item.PozitieInRaft</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div hidden="hidden" id="hasPrevInfo" data-value="@Model.anvList.HasPreviousPage.ToString().ToLower()"></div>
<div hidden="hidden" id="hasNextInfo" data-value="@Model.anvList.HasNextPage.ToString().ToLower()"></div>


<div class="text-center">
    <button id="buttonPrevInfo" data-pageNumber="@(Model.anvList.PageIndex - 1)"
            class=" customPagination btn btn-default">
        Previous
    </button>
    <button id="buttonNextInfo" data-pageNumber="@(Model.anvList.PageIndex + 1)"
            class=" customPagination btn btn-default">
        Next
    </button>
</div>

<script>
    var setPaginationInfo = function () {
        var hasPrevInfo = $("#hasPrevInfo").attr("data-value");
        var hasNextInfo = $("#hasNextInfo").attr("data-value");

        if (hasPrevInfo == "true") {
            enablePrevious();
        } else if (hasPrevInfo == "false") {
            disablePrevious();
        }

        if (hasNextInfo == "true") {
            enableNext();
        } else if (hasNextInfo == "false") {
            disableNext();
        }
    };

    var enablePreviousInfo = function () {
        $(document).find("#buttonPrevInfo").removeAttr("disabled");
        //$(document).find("#buttonPrev").removeClass("disabled");
        console.log("Enable Previons");
    };
    var disablePreviousInfo = function () {
        $(document).find("#buttonPrevInfo").attr("disabled", "disabled");
        //$(document).find("#buttonPrev").addClass("disabled");
        console.log("Disable Previons");

    };
    var enableNextInfo = function () {
        $(document).find("#buttonNextInfo").removeAttr("disabled");
        //$(document).find("#buttonNext").removeClass("disabled");
        console.log("Enable Next");

    };
    var disableNextInfo = function () {
        $(document).find("#buttonNextInfo").attr("disabled", "disabled");
        //$(document).find("#buttonNext").addClass("disabled");
        console.log("Disable Next");

    };
</script>
